body {
  background-color: #9FDDFE;
  overflow-x:hidden;

}
.svg-logo-wrapper {
  text-align:center;
  padding-top: 35vh;
}
#anim-logo {
  height:200px;
  width:530px;
}
.desc {
  font-size: 16px;
  padding-left: calc(50vw - 235px);
  animation: slideUp 5s;
}
.err {
  font-size: 12px;
  color: #666;
}
.game-button {
  padding: 15px;
  border: 1px solid #999;
  background: #f4f4ed;
}


@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }
   50% {
    opacity: 0;
    transform: translateY(2000px);
  }
   80% {
    opacity: 0;
    transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
} 
/* media query for responsiveness */
@media screen and (max-width:650px) {
.desc {
    font-size: 17px;
    width: 80vw;
    padding: 0 10vw 0 10vw;
  }
}
@media screen and (max-width:650px) {
.svg-logo-wrapper {
  padding-top: 20vh;
  overflow-x:hidden!important;
}
  #anim-logo {
  height:200px;
  width:500px;
  scale: 0.5;
  margin-left:-32vw;
  }
  .desc {
    font-size: 16px;
    width: 80vw;
    padding: 0 5vw 0 5vw;

  }
  .err {
    font-size: 13px;
  }
  .game-button {
    padding: 10px;
    font-size: 15px;
    margin-top: 5px;
  }
}
