.myAlert .swal2-title {
  font-family: Rosario;
  color: #000; /* Replace with your font color */
}

.myAlert .swal2-content {
  font-family: Nunito;
  color: #f1f1f1; /* Replace with your font color */
}

.myAlert .swal2-confirm {
  background-color: #9fddfe; /* Replace with your button color */
  color: #000; /* Replace with your button text color */
}

.myAlert .swal2-popup {
  background-color: ; /* Replace with your background color */
}
